<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ../partials/header.ejs %>
</header>

<main>
    <div class="jumbotron">
        <h1>Graph-Forest</h1>
        <p>Upload your CSV file and Using Crossfilter we can manupilate Data and show it in graphs</p>
    </div>
    <form action="/api/uploads" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="csvFileUploader">Upload File Here </label>
            <input type="file" id="csvFileUploader" name="mediaFile">
        </div>
        <input type="submit" value="Submit" class="btn btn-default">
    </form>
</main>

<footer>
    <% include ../partials/footer.ejs%>
</footer>

</body>
</html>